body{
    background-image: url("record.png");
    background-color: rgb(242, 88, 88);
    background-repeat: repeat;
    margin: 0;
}
main{
    padding: 1em;
}
.dark{
    color:whitesmoke;
    background-color:darkred;
    text-align: center;
}
.light{
    background-color: lightgray;
    text-align: center;
}